# Configuration files
config.js

# .mp3 files, images
Public/Assets/
helperJS/songs_for_soundcloud/

# Test Files
__tests__/__snapshots__/

node_modules
../Proxy/node_modules
sqlConfig.js
cassandraData.csv
postgresArtists.csv
postgresComments.csv
postgresSongs.csv
postgresUsers.csv
